<h2 class="mb -5">
EDITAR ORDER

</h2>
<div class="row row-cols-3 justify-content-center">
  @if (form) {
  <form [formGroup]="form" (ngSubmit)="save()">

    <div class="mb-3">
      <label for="name">Nombre: </label>
      <input type="text" id="name" placeholder="Nombre" class="form-control" formControlName="name">
    </div>

    <div class="mb-3">
      <label for="name">Direccion de envio: </label>
      <input type="text" id="shippingAddress" placeholder="shippingAddress" class="form-control" formControlName="shippingAddress">
    </div>

    <div class="mb-3">
      <label for="name">es delivery?: </label>
      <input type="text" id="delivery" placeholder="delivery" class="form-control" formControlName="delivery">
    </div>

    <select formControlName="store" name="food">
      @for (food of stores; track food) {
        <option [value]="food.id">{{food.name}}</option>
      }
    </select>


    <div class="text-end">

      <button type="button" class="btn btn-light" routerLink="/stores">Cancelar</button>
      <button class="btn btn-primary ms-2">
ACTUALIZAR order</button>
    </div>


  </form>
  }
</div>
